anthropic
python-dotenv
chromadb
langchain-text-splitters
langchain-community
langgraph
fastapi
uvicorn
dependency-injector
pydantic-settings
langchain-anthropic
python-telegram-bot
httpx
langgraph-checkpoint-sqlite